# Database URL for PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_azYh6EjNlr5B@ep-blue-fire-ahbbwj8n-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Gemini API Key for quiz generation
GEMINI_API_KEY="AIzaSyBVWxxYiraYalB1NACn7dfbNjSM-vhHPTg"
